/***** MAIN *****/

html {
    background-color: #000000;
    color: #00ABAE;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: center; /* centers horizontally */
    

}

.main-main {
    /* background-color: blue; */
    border: solid 2px #00ABAE;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.main {
    border: solid 2px #00ABAE;
    border-radius: 5px;
    padding: 0 10px 20px 10px;
    width: 600px;
    /* margin: auto; */
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

/***** LIST ITEMS *****/

.list-container {
    font-family: 'Quicksand';
    /* background-color: red; */
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

/***** INPUT & BUTTONS *****/

.stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.stuff-item {
   margin-right: 1px;
}

/* .add {
    background-color: #808080;
    color: #00ABAE;
} */

/* .clear {
    background-color: #808080;
    color: #00ABAE;
}  */

/***** TASK LEFT *****/

.taskleft {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ABAE;
    font-family: 'Quicksand';
}
